body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: auto;
  font-size: 300px;
  text-align: center;
}

h1:hover {
  cursor: pointer;
}

h2 {
  height: 100%;
  width: 100%;
  margin-top: 24px;
  text-align: center;
}

h3 {
  position: absolute;
  right: 30px;
  top: 30px;
}

@keyframes metronome {
  0% {right: 0px;}
  50% {right: 99vw;}
  100% {right: 0vw;}
}

@keyframes jumpOne {
  0% {height: 56px}
  50% {height: 100px}
  100% {height: 56px}
}

@keyframes jumpTwo {
  0% {height: 56px}
  50% {height: 100px}
  100% {height: 56px}
}

#metronomeBar {
  position: absolute;
  /* right: 0px; */
  height: 20vh; 
  width: 10px; 
  background-color: Black;
  top: 40vh;
  border: solid;
  /* animation-name: metronome;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
} 

#rhythmNoteContainer {
  width:1074px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.note {
  width: 50px;
  margin: 0px 30px;
  height: 50px;
  border: solid;
  transition: .3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#finalscore{
  font-size: 100px;
  width: 100%; 
  text-align: center;
}

#instructions {
  font-size: 36px;
  margin-top: 10vh;
}